<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="buscaminas.Properties.Settings.BuscaminasConnectionString"
            connectionString="Data Source=127.0.0.1;Initial Catalog=Buscaminas;User ID=sa;Password=Gilarranz94"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>